/* Positioning: z index  */

p {
  border: 1px solid black;
  background-color: aquamarine;
  margin: 30px;
  z-index: 2;
  position: relative;
}

#special {
  background-color: violet;
  position: relative;
  top: 40px;
  left: 40px;
  z-index: 1;
}
